@page "/counter"
@using RadzenTest.Shared;
@using System.Collections;
@inject DialogService DialogService

<PageTitle>Counter</PageTitle>

<div>
    <div class="rz-p-2 rz-text-align-right">
        <RadzenDatePicker Change=@ChangeStartTime @bind-Value=@valstart1 ShowTime="true" TimeOnly="true" DateFormat="HH:mm" />
        <RadzenDatePicker @bind-Value=@valstart2 ShowTime="true" TimeOnly="true" DateFormat="HH:mm" />
    </div>


</div>
<RadzenScheduler SlotRender=@OnSlotRender TItem="Shift" Data=@shifts
                 TextProperty="Text" SelectedIndex="1"
                 StartProperty="Start" EndProperty="End" Style="width: auto; height: 700px;">
    <RadzenWeekView TimeFormat="HH:mm" EndTime="Endtime" StartTime="Starttime"  />
    <RadzenMonthView />
</RadzenScheduler>


@code {
    public ParameterAttribute aaa = new ParameterAttribute();
    public DateTime? valstart1 = new DateTime(2023, 1, 1, 0, 0, 0);
    public DateTime? valstart2 =new DateTime(2023,1,1,23,59,59);
    public RadzenScheduler<Shift> scheduler;
    public RadzenHeader header = new RadzenHeader();
    public TimeSpan Endtime = new TimeSpan(23,59,59);
    public TimeSpan Starttime = new TimeSpan(0,0,0);
    public IList<Shift> shifts = new List<Shift>()
    {
        new Shift{Start  = DateTime.Now, End = DateTime.Now.AddHours(2),Text  ="Termin 1" },
        new Shift{Start  = DateTime.Now, End = DateTime.Now.AddHours(2),Text  ="Termin 2" }
    };

    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        

        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: rgba(255,220,40,.2);";
        }


        if ((args.View.Text == "Week" || args.View.Text == "Day") && args.Start.Hour > 8 && args.Start.Hour < 19)
        {
            args.Attributes["style"] = "background: rgba(155,220,40,.2);";
        }
    }

    void ChangeStartTime()
    {
        Starttime = new TimeSpan(valstart1.Value.Hour, valstart1.Value.Minute, valstart1.Value.Second);
    }
}
